@model Blog

@{
    ViewBag.Title = Model.Title;
    Layout = "_Layout";
}

<div class="row">
    <div class="col ">

        <h1 class="text-center">@Model.Title</h1>
    </div>
</div>
<br/>
<div class="row">
    <div class="col">
        
        <img src="~/Screenshot_1.png" class="w-100" />
    </div>
</div>

<br />
@foreach (var component in Model.BlogComponents.OrderBy(item=>item.OrderPosition))
{
<div class="row"> <div class="col">@Html.Raw(component.ContentHtml)</div></div>
}