@model Blog

<div class="card">
    <img src="~/Screenshot_1.png" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <a asp-area="" asp-controller="Home" asp-action="Blog" asp-route-id=@Model.Id class="btn btn-primary card-link">Читать</a>
    </div>
</div>