@model System.Collections.Generic.List<MySite.Models.Course>

@{
    ViewBag.Title = "Курсы";
    Layout = "_Layout";
}

<div class="row">
    @foreach (var course in Model)
    {
        <div class="col-3">
            
            @await Html.PartialAsync("CourseCard", course)
            <br/>

        </div>
    }
</div>
