@using MySite.ViewModels
@model MainViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row bg-light">
    <div class="col-8">
        <p>
            Привет. Меня зовут Миша и сейчас ты находишься на моём сайте.
        </p>
        <p>
            Тут ты можешь почитать мои блоги. Посмотреть мои курсы по программированию. И посмотреть мои проекты.
        </p>
    </div>
    <div class="col-4">
        <img src="~/avatar.jpg" class="img-fluid" />
        <h5 class="text-center">
            Харченко Михаил
            <br />
            <small>Программист</small>
        </h5>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <div class="my-3">
            <h4><a class="text-dark" asp-area="" asp-controller="Home" asp-action="Blogs">Блоги:</a></h4>
            <div class="row">
                @foreach (var blog in Model.Blogs.Take(4))
                {
                    <div class="col-3">
                        @await Html.PartialAsync("BlogCard", blog)
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <div class="my-3">
            <h4>Программирование:</h4>
            <div class="row">
                @foreach (var course in Model.Courses.Take(3))
                {
                    <div class="col-4">
                        @await Html.PartialAsync("CourseCard", course)
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <div class="my-3">
            <h4>Проекты:</h4>
            <div class="row">
                @foreach (var project in Model.Projects.Take(2))
                {
                    <div class="col-6">
                        @await Html.PartialAsync("ProjectCard", project)
                    </div>
                }
            </div>
        </div>
    </div>
</div>

