@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-9">
        <h5>
            Всем привет. Меня зовут Миша и сейчас вы на моём персональном сайте.
        </h5>
        <div>
            <h3>
                Образование.
            </h3>
            <p>
                2014-2018 - Бакалавр ХНУРЕ, кафедра компьютерных наук, специальность програмная инженерия.
            </p>
            <p>
                2018-2020 - Магистр ХНУРЕ, кафедра компьютерных наук, специальность системы искусственного интеллекта.
            </p>
        </div>
        <div>
            <h3>
                Карьера.
            </h3>
            <p>
                2017-2020 - Unity C# Developer в компании Plarium.
            </p>
        </div>
    </div>
    <div class="col-3">
        <img src="~/avatar.jpg" class="container"/>
        <h4 class="text-center">Харченко Михаил</h4>
    </div>
</div>
<a asp-controller="Programming" asp-action="Index" style="margin:0px 50px">
    <div class="container">
        <div class="row">
            <h3>
                Блог
            </h3>
        </div>

        <div class="row">
            <div class="col-3" style="background-color:black;">a</div>
            <div class="col-3" style="background-color:black;">a</div>
            <div class="col-3" style="background-color:black;">a</div>
            <div class="col-3" style="background-color:black;">a</div>
        </div>
    </div>
</a>
<a asp-controller="Project" asp-action="Index" style="margin:0px 50px">
    <div class="container">
        <div class="row">
            <h3>
                Блог
            </h3>
        </div>

        <div class="row">
            <div class="col-6" style="background-color:black;">a</div>
            <div class="col-6" style="background-color:black;">a</div>
        </div>
    </div>
</a>
<a asp-controller="Blog" asp-action="Index" style="margin:0px 50px">
    <div class="container">
        <div class="row">
            <h3>
                Блог
            </h3>
        </div>

        <div class="row">
            <div class="col-4" style="background-color:black;">a</div>
            <div class="col-4" style="background-color:black;">a</div>
            <div class="col-4" style="background-color:black;">a</div>
        </div>
    </div>
</a>