@model Project
<div class="card">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/Screenshot_1.png" class="card-img-top img-fluid" alt="...">
    
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
                <a href="@Model.Link" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
</div>